<form novalidate [formGroup]="registrationForm"  (ngSubmit)="onSubmit(registrationForm.value)">
  <input  type="text" class="form-control" formControlName="fname" >
  <div class="error-message"  *ngIf="registrationForm.get('fname').touched && registrationForm.get('fname').hasError('required')">
    The First name is required.
  </div>

  <input  type="text" class="form-control" formControlName="lname" >
  <div class="error-message"  *ngIf="registrationForm.get('lname').touched && registrationForm.get('lname').hasError('required')">
    The Last name is required.
  </div>
  <input type="email" class="form-control" formControlName="email">
  <div class="error-message"  *ngIf="registrationForm.get('email').touched && registrationForm.get('email').hasError('required')">
    The email is required.
  </div>
  <div class="error-message" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').hasError('pattern')">
    The email format should be <i>yogeshdotnet@gmail.com</i>  </div>
  <div formGroupName="address">
    <input type="text" class="form-control" formControlName="city">
    <br/>
    <select class="form-control" formControlName="state"><option value="RJ">Rajasthan</option><option value="UP">Uttar Pradesh</option></select>
    <div class="error-message" *ngIf="registrationForm.get('address').get('state').touched && registrationForm.get('address').get('state').hasError('required')">
      The State is required. </div>
  </div>
  <button type="submit" class="btn btn-secondary" [disabled]="registrationForm.invalid">Submit</button>

</form>
